<html>
<head>
	<title>Clock In - Clock Out</title>
</head>
<body>
  <h1>Julian's awesome front-end</h1>
  <h2>ADMIN DASHBOARD</h2>


  <h3><a href="admin/history">go to admin/history</a></h3>

  <%= variable_from_controller %>

</div>
 </body>
</html>