<html ng-app='myApp'>
<head>
	<title>Clock In - Clock Out</title>
</head>
<body>
  <h1>Julian's awesome front-end</h1>
  <h2>ADMIN HISTORY</h2>


  <h3><a href="admin/dashboard">go to admin/dashboard</a></h3>

</div>
 </body>
</html>