<html ng-app='myApp'>
<head>
	<title>Clock In - Clock Out</title>
</head>
<body>
  <h1>Julian's awesome front-end</h1>
  <h2>DASHBOARD</h2>

  <p>This is my data</p>
  <p><%=data[1].name%></p>
  <p><%=data[2].name%></p>
  <p><%=data[3].name%></p>


  <h3>
  <a href="/history">go to history</a></br>
  <a href="/index">go to index</a>
  </h3>

</div>
 </body>
</html>