<html ng-app='myApp'>
<head>
	<title>Clock In - Clock Out</title>
</head>
<body>
  <h1>Julian's awesome front-end</h1>
  <h2>INDEX PAGE</h2>

  <h3>
  <a href="/history">go to history</a> </br>
  <a href="/dashboard">go to dashboard</a>
  </h3>


</div>
 </body>
</html>